@use "./colors.scss";

html, body {
	height: 100%;
	overflow: hidden;
}

.n-config-provider {
	height: 100%;
}

#app {
	width: 100%;
	height: 101%;
	background-color: colors.$primary;
	color: papayawhip;
}

svg {
	height: 20px;
}

.app-root {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 5px;

	.splitpanes--vertical > .splitpanes__splitter {
		min-width: 5px;
		cursor: col-resize;
		background-color: colors.$secondary;
		margin: 5px;
	}

	.splitpanes {
		width: 100% !important;
		height: 100% !important;
	}

	.n-split {
		border: 1px solid yellow;
		padding: 10px;
		margin: 10px;
	}

	.repos {
		border: 3px solid colors.$secondary;
		border-radius: 4px;
		margin-right: 5px;
		padding: 3px;
	}

	.tab-wrapper {
		width: 100%;

		.tab-content {
			height: 100%;
			background-color: colors.$primary;

			.main-content {
				border: 3px solid colors.$secondary;
				border-radius: 4px;
				height: 100%;
			}
		}

		.reference-list {
			.header {
				border: 2px solid colors.$tertiary;
				display: flex;
				align-items: center;
				gap: 10px;
			}

			.reference-row {
				display: flex;
				align-items: center;
				padding: 0 5px;
				cursor: pointer;
				gap: 5px;

				&:hover {
					background-color: #f0f0f0;
					color: black;
				}
			}
		}

		.commit-history {
			border: 1px solid colors.$tertiary;
			max-height: 95%;
			overflow-y: auto;

			.pane-branches {

			}

			.commit-graph {
				position: relative;
			}

			.list-container {
				flex-grow: 1;
				min-width: 0;

				.commit-row {
					display: flex;
					align-items: center;
					padding: 0 10px;
					cursor: pointer;
					transition: background 0.2s;
					box-sizing: border-box;
					height: 27px;

					&.active {
						background-color: colors.$secondary;
						color: black;
					}
				}
				.commit-row:hover {
					background-color: #364352; //colors.$secondary;
				}

				.commit-subject {
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-right: 15px;
					font-weight: 500;
				}

				.commit-meta {
					display: flex;
					gap: 15px;
					font-size: 0.85em;
					color: #888;
					flex-shrink: 0;
				}

				.hash {
					color: #569cd6;
				}
			}
		}

		.list-branches {
			flex-grow: 1;
			min-width: 0;
			background-color: #090a0b;

			.commit-refs-row {
				display: flex;
				align-items: center;
				padding: 0 10px;
				height: 27px !important;

				&.active {
					background-color: colors.$secondary;
					color: black;
				}

				.n-tag {
					cursor: pointer;

					.name {

					}

				}
			}
		}

		.commit-details {
			.commit-details-header {
				.actions {
					margin-bottom: 5px;

					.area-title {
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
	}
}
