@use "./colors.scss";

html, body {
	height: 100%;
	overflow: hidden;
}

.n-config-provider {
	height: 100%;
}

#app {
	width: 100%;
	height: 101%;
	background-color: colors.$primary;
	color: papayawhip;
}

svg {
	height: 20px;
}

.app {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 5px;

	.splitpanes--vertical > .splitpanes__splitter {
		/*
			min-width: 5px;
			cursor: col-resize;
			background-color: colors.$secondary;
			margin: 5px;
		*/
	}

	.splitpanes {
		width: 100% !important;
		height: 100% !important;
	}

	.repos {
		border-right: 2px solid lighten(#202327, 10%);
		border-radius: 4px;
		margin-right: 5px;
		padding: 3px;

		.open-repo {
			height: 42px;

			svg {
				fill: #fff;
			}
		}
	}

	.tab-wrapper {
		width: 100%;

		.repository {
			height: 100%;
			background-color: colors.$primary;

			.main-content {
				height: 100%;

				.content-toolbar {
					display: flex;
					align-items: center;
					background-color: #202327;
					margin-bottom: 5px;
					height: 40px;
					padding-bottom: 5px;
					border-bottom: 1px solid lighten(#202327, 10%);

					.meta {
						width: 25%;
						padding: 10px;

						svg {
							fill: #fff;
						}

						.repository-name {
							flex: 1;
							font-size: 16px;
							font-weight: 600;
							line-height: 80px;
						}

						.current-branch-name {
							text-align: right;
							font-size: 16px;
							font-weight: 400;
							line-height: 80px;
							margin-left: 30px;
						}
					}

					.controls {
						flex: 0 0 600px;

						.action-bar {
							justify-content: center;
							display: flex;
							gap: 5px;

							.action {
								padding: 2px;
								cursor: pointer;
								height: 40px;
								width: 45px;
								overflow: hidden;
								font-size: 10px;
								text-align: center;
								border-radius: 5px;

								&:hover {
									background-color: #161819;
								}

								&.disabled {
									cursor: default;
									color: #555;

									.icon {
										fill: #555;
									}

									&:hover {
										background-color: transparent; // nebo barva, kterou má tlačítko v základu
									}
								}

/*
								&:hover {
									background-color: #161819;
								}

								&.disabled {
									cursor: default;
									color: dimgray;

									.icon {
										fill: dimgray;
									}
								} */

								.action-content {
									display: flex;
									flex-direction: column;
									gap: 2px;
								}

								/* display: flex; */
								/* height: 30px; */

								/* flex-direction: column; */
								/* align-items: center; */
								/* gap: 5px; */

								.label {
									/* border: 2px solid lime; */
								}

								.icon {
								fill: #cecece;
									/* border: 2px solid blue; */
								}
							}

							.open-console {
								margin-left: 10px;
							}
						}
					}

					.account {
						flex: 1 1 0;
						padding: 10px;
					}

				}
			}
		}

		.reference-list {
			padding-right: 10px;
			border-right: 1px solid lighten(#202327, 1%);
			height: 100%;

			.header {
				padding: 0 10px;
				display: flex;
				gap: 10px;
				text-transform: uppercase;


				svg {
					fill: #cecece;
					width: 25px;
				}

				.title {
					flex: 1;
					font-size: 14px;
					font-weight: 600;
				}

				.count {
					flex: 2;
					color: aqua;
					text-align: right;
				}
			}

			.reference-row {
				display: flex;
				align-items: center;
				padding: 0 5px;
				cursor: pointer;
				gap: 5px;
				overflow: hidden;
				height: 22px;
				font-size: 12px;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:hover {
					background-color: #f0f0f0;
					color: black;
				}
			}
		}

		.commit-history {
			max-height: 95%;
			overflow-y: auto;

			.pane-branches {

			}

			.commit-graph {
				position: relative;
			}

			.list-container {
				flex-grow: 1;
				min-width: 0;

				.commit-row {
					display: flex;
					align-items: center;
					padding: 0 10px;
					cursor: pointer;
					transition: background 0.2s;
					box-sizing: border-box;
					font-size: 12px;
					height: 22px;
					margin-bottom: 5px;

					.working-tree-files {
						display: inline;
						color: #FFF;
						margin-right: 5px;

						svg {
							width: 16px;
							height: 16px;
							margin-top: 7px;
						}
					}

					&.active {
						background-color: colors.$secondary;
						/* color: black; */
					}
				}
				.commit-row:hover {
					background-color: #364352; //colors.$secondary;
				}

				.commit-subject {
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-right: 15px;
					font-weight: 500;
				}

				.commit-meta {
					display: flex;
					gap: 15px;
					font-size: 0.85em;
					color: #888;
					flex-shrink: 0;
				}

				.hash {
					color: #569cd6;
				}
			}
		}

		.list-branches {
			flex-grow: 1;
			min-width: 0;
			background-color: #090a0b;

			.row-line-svg {
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
				z-index: 0;
			}

			.commit-refs-row {
				display: flex;
				position: relative;
				align-items: center;
				padding: 0 10px;
				height: 27px !important;

				.tag {
					z-index: 1;
					cursor: pointer;
					height: 20px;
					overflow: hidden;
					border-radius: 2px;
					padding: 0px 5px;
					display: inline-flex;
					text-overflow: ellipsis;
					margin-top: -7px;
					font-size: 12px;
					box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.6);

					.icons {
						display: flex;
						fill: #fff;
						margin-right: 5px;
					}

					&.active {
						.icons {
							fill: #000;
						}
						box-shadow: none;
					}
				}
			}
		}

		.commit-details {
			height: 90%;

			.commit-area {
				height: 100%;
				position: relative;
				display: flex;
				flex-direction: column;

				.area {
					flex: 1;

					.area-title {
						background-color: #090a0b;
						padding: 5px 10px;
						height: 25px;
						display: flex;
						justify-content: space-between;
					}
				}

				.commit-actions {
					height: 80px;
					padding: 20px 10px;
					display: flex;
					flex-direction: column;

					.options {
						margin: 10px 0;
					}

					.commit {
						margin-top: 10px;
					}
				}
			}
		}
	}
}
